.enemy {
  width: 200px;
  height: 240px;
  margin: 10px;
  background: green;
  color: white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.App {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spell.active {
  outline: rgb(185, 79, 79) 3px solid;
}

.spell {
  width: 200px;
  height: 400px;
  padding: 5px;
  border: black 1px solid;
  user-select: none;
}

.spell-book {
  display: flex;
}

.enemy .top {
  flex: 1;
  display: flex;
  align-items: center;
}

.enemy .mid {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enemy .bot {
  position: absolute;
  bottom: 0;
}

.spell-slot.active {
  outline: rgb(185, 79, 79) 3px solid;
}

.spell-slot {
  width: 200px;
  height: 30px;
  margin: 5px;
  border: black 1px solid;
  user-select: none;
}

.spell-chain {
  display: flex;
}

.enemies {
  display: flex;
  justify-content: center;
}
